* {
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: rgba(255, 255, 0, 0.637);

  font-size: 20px;
  font-family: "EB Garamond", serif;

  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80% 10%;
  gap: 1px;

  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

@media only screen and (max-width: 640px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    gap: 1px;

    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }
}

header {
  grid-area: header;

  background-color: rgb(176, 39, 194);
  color: aliceblue;
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  text-align: center;
  border: 2px solid black;
}

aside {
  grid-area: aside;
  border: 2px solid black;
  height: 100%;
  min-width: 240px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgb(161, 192, 192);
  font-family: fantasy;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 35px;
}

input#numero {
  -webkit-appearance: none; /* remove as setinhas do input tipo number na maioria dos navegadores */
  -moz-appearance: textfield; /* remove as setinhas no firefox */
}

input:hover[type="text"] {
  background-color: rgb(68, 173, 159);
}

input:hover[type="number"] {
  background-color: rgb(68, 173, 159);
}

main {
  grid-area: main;
  align-items: center;
}

/* button {
  width: 60px;
  height: 25px;
  margin: 10px;
  color: aliceblue;
  background-color: brown;
}

button:hover {
  width: 100px;
  height: 35px;
  color: rgb(255, 174, 0);
  border-radius: 10px;
} */

select {
  width: 100%;
  height: 35px;
}

select:hover {
  background-color: rgb(68, 173, 159);
}

#conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card {
  color: black;
  background-color: orange;
  padding: 20px;
  border: 2px solid blue;
  border-radius: 8px;
  width: 290px;
  text-align: center;
  margin: 5px;
  display: flexbox;
}

#card h1 {
  background-color: rgba(23, 192, 65, 0.575);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;
}

#card h2 {
  font-size: 22px;
}

img {
  width: 90%;
  border-radius: 10px;
}

footer {
  grid-area: footer;
  background-color: rgb(87, 209, 209);
  width: 200fr;
  height: 100pt;
  border: 2px solid black;
  text-align: center;
  padding: auto;
}
